<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.AdjustMapper" >
  <resultMap id="BaseResultMap" type="com.server.entity.Adjust" >
    <id column="adjust_id" property="adjustId" jdbcType="INTEGER" />
    <result column="adjust_sqr" property="adjustSqr" jdbcType="VARCHAR" />
    <result column="adjust_dhr" property="adjustDhr" jdbcType="VARCHAR" />
    <result column="adjust_date" property="adjustDate" jdbcType="DATE" />
    <result column="adjust_blr" property="adjustBlr" jdbcType="VARCHAR" />
    <result column="adjust_state" property="adjustState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    adjust_id, adjust_sqr, adjust_dhr, adjust_date, adjust_blr, adjust_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adjust
    where adjust_id = #{adjustId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adjust
    where adjust_id = #{adjustId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.server.entity.Adjust" >
    insert into adjust (adjust_id, adjust_sqr, adjust_dhr, 
      adjust_date, adjust_blr, adjust_state
      )
    values (#{adjustId,jdbcType=INTEGER}, #{adjustSqr,jdbcType=VARCHAR}, #{adjustDhr,jdbcType=VARCHAR}, 
      #{adjustDate,jdbcType=DATE}, #{adjustBlr,jdbcType=VARCHAR}, #{adjustState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.server.entity.Adjust" >
    insert into adjust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adjustId != null" >
        adjust_id,
      </if>
      <if test="adjustSqr != null" >
        adjust_sqr,
      </if>
      <if test="adjustDhr != null" >
        adjust_dhr,
      </if>
      <if test="adjustDate != null" >
        adjust_date,
      </if>
      <if test="adjustBlr != null" >
        adjust_blr,
      </if>
      <if test="adjustState != null" >
        adjust_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adjustId != null" >
        #{adjustId,jdbcType=INTEGER},
      </if>
      <if test="adjustSqr != null" >
        #{adjustSqr,jdbcType=VARCHAR},
      </if>
      <if test="adjustDhr != null" >
        #{adjustDhr,jdbcType=VARCHAR},
      </if>
      <if test="adjustDate != null" >
        #{adjustDate,jdbcType=DATE},
      </if>
      <if test="adjustBlr != null" >
        #{adjustBlr,jdbcType=VARCHAR},
      </if>
      <if test="adjustState != null" >
        #{adjustState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.server.entity.Adjust" >
    update adjust
    <set >
      <if test="adjustSqr != null" >
        adjust_sqr = #{adjustSqr,jdbcType=VARCHAR},
      </if>
      <if test="adjustDhr != null" >
        adjust_dhr = #{adjustDhr,jdbcType=VARCHAR},
      </if>
      <if test="adjustDate != null" >
        adjust_date = #{adjustDate,jdbcType=DATE},
      </if>
      <if test="adjustBlr != null" >
        adjust_blr = #{adjustBlr,jdbcType=VARCHAR},
      </if>
      <if test="adjustState != null" >
        adjust_state = #{adjustState,jdbcType=VARCHAR},
      </if>
    </set>
    where adjust_id = #{adjustId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.server.entity.Adjust" >
    update adjust
    set adjust_sqr = #{adjustSqr,jdbcType=VARCHAR},
      adjust_dhr = #{adjustDhr,jdbcType=VARCHAR},
      adjust_date = #{adjustDate,jdbcType=DATE},
      adjust_blr = #{adjustBlr,jdbcType=VARCHAR},
      adjust_state = #{adjustState,jdbcType=VARCHAR}
    where adjust_id = #{adjustId,jdbcType=INTEGER}
  </update>
</mapper>